
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #F3F1FF;
}
/*---------------------------------------------------
    Common Style
----------------------------------------------------*/
.container{
    width: 870px;
    background: white;
    margin: auto;
}
/*---------------------------------------------------
    Menu Bar 
----------------------------------------------------*/
.menuBar{
    background: #562EFF;
    height: 94px ;
}

.menuBar .menu{
    margin: auto;
    width: 870px; 
    height: 94px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menuBar .menu .leftMenu{
    display: flex;
    align-items: center; 
}
.menuBar .menu .leftMenu h2{
    color: white;
    font-weight: 500;  

}
.menuBar .menu .leftMenu img{
    width: 40px;
    height: 51px;
    margin-right: 15px;
}
.menuBar .menu .rightMenu ul{
    display: flex;
    align-items: center;
}
.menuBar .menu .rightMenu ul li{
    list-style: none;
    margin-left: 36px ;
}
.menuBar .menu .rightMenu ul li img{
    width: 51px ;
    height: 51px;
}
.menuBar .menu .rightMenu ul li a{
    color: white;
    text-decoration: none;
    font-weight: 400;
}


/*---------------------------------------------------
    Top Players section
----------------------------------------------------*/
.topSections{
    margin-top: 36px;
    border-radius: 10px; 
}
.topPlayer{
    margin-left: 30px; 
}
.topPlayer h2{
    color: #562EFF    ;
    font-weight: 500;
    font-size: 24px; 
    padding-top: 33px;  
}
.topPlayer .topPlayers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 29px; 
    margin-top: 40px; 
}
.topPlayer .topPlayers .players{
    display: flex;
    align-items: center;
}
.topPlayer .topPlayers .players h3{
    font-weight: 500;
    font-size: 18px;  
}
.topPlayer .topPlayers .players img{
    width: 56px;
    height: 56px;
    margin-right: 16px;
}
.topSections hr{
    margin: auto; 
    border: 1px solid grey; 
    width: 90%; 
    margin-top: 30px; 
    margin-bottom: 30px; 
}


/*---------------------------------------------------
            Top blogs section
----------------------------------------------------*/
.topSections .top-blog{
    margin-left: 30px;
}
.topSections .top-blog h2{
    color: #562EFF    ;
    font-weight: 500;
    font-size: 24px;  
    margin-bottom: 21px; 
}
.topSections .top-blog .top-blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 20px; 
    padding-bottom: 42px; 
}


.topSections .top-blog .top-blogs .blogs{
    display: flex;
}
.topSections .top-blog .top-blogs .blogs img{
    width: 177px;
    height: 117px; 
    margin-right: 16px; 
}
.topSections .top-blog .top-blogs .blogs h2{
    font-weight: 500;
    font-size: 20px;
    color: black;
}
.topSections .top-blog .top-blogs .blogs p{
    color: #9F9F9F;
    font-size: 16px;
}
.topSections .top-blog .top-blogs .blogs p a{
    text-decoration: none;
    color: #562EFF;
}

/*------------------------------------------------------------------------
                        latest course section 
--------------------------------------------------------------------------*/

.course{
    box-shadow: 0 15px 20px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 15px; 
    margin: 30px 7px;  
    width: 252px;
}
.course-section{
    margin-top: 30px; 
    display: flex;
    border-radius: 15px; 
}


.course img{
    width: 224px;
    height: 104px;  
    margin: auto; 
}
.course h2{
    color: black; 
    font-weight: 500; 
    font-size: 23px; 
    line-height: 1.2em;
    padding-top: 19px;  
    padding-bottom: 7px;  
}
.course p{
    color: #ED6B4F; 
    font-size: 14px; 
    margin-bottom: 10px; 
}
.rating-section{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.rating{
    display: flex;
}
.rating-number{
    margin-left: 10px;  
}
.rated{
    color: #FFC014; 
}
.not-rated{
    color: rgba(0,0,0,0.05); 
}
.duration{
    color: #FF4A60;
    background: rgba(255, 74, 95, 0.507);
    padding: 5px 15px;
    border-radius: 15px; 
}







/*---------------------------------------------------
    Media Query Responsive
----------------------------------------------------*/

/* for mobile  */
@media only screen and (max-width:767px) {
    .menuBar .menu{
        width: 100%;  
    }
    .menuBar .menu .leftMenu{
        display: none;
    }
    .container{
        width: 95%; 
    }
    .topPlayer{
        margin-left: 0px; 
    }
    .topPlayer h2{
        text-align: center; 
    }
    .topPlayer .topPlayers{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .topPlayer .topPlayers .players{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .topPlayer .topPlayers .players img{
        width: 56px;
        height: 56px;
        margin-right: 0px;
        margin-bottom: 15px; 
    }
    /* --------------------------------- top blog section ------------------------------------------- */
    .topSections{
        width: 95%; 
    }
    .topSections .top-blog{
        margin-left: 5px; 
        /* display: none;  */
    }
    .topSections .top-blog h2{
        color: #562EFF    ;
        font-weight: 500;
        font-size: 24px;  
        margin-bottom: 21px; 
        text-align: center;
    }
    .topSections .top-blog .top-blogs{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 0px;
        row-gap: 20px; 
        padding-bottom: 42px; 
    }
    
    
    .topSections .top-blog .top-blogs .blogs{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;  
        padding: 5px; 
        text-align: center;
        border-radius: 15px; 
        border: 1px solid grey;
        margin-top: 25px; 
    }

    .topSections .top-blog .top-blogs .blogs img{
        width: 177px;
        height: 117px; 
        margin: 0px auto; 
    }
    .topSections .top-blog .top-blogs .blogs h2{
        font-weight: 500;
        font-size: 20px;
        color: black;
    }
    .topSections .top-blog .top-blogs .blogs p{
        color: #9F9F9F;
        font-size: 16px;
    }
    .topSections .top-blog .top-blogs .blogs p a{
        text-decoration: none;
        color: #562EFF;
    }
    /* --------------------------------- Latest course section ----------------------------------------- */
    
}



/* for tablet  */
@media only screen and (min-width:768px) and (max-width:991px) {
    .menuBar .menu{
        width: 95%;  
    }
    .menuBar .menu .leftMenu{
        display: flex;
        align-items: center; 
    }
    .container{
        width: 95%; 
    }
    .topPlayer{
        margin-left: 0px; 
    }
    .topPlayer h2{
        text-align: center; 
    }
    .topPlayer .topPlayers{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .topPlayer .topPlayers .players{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .topPlayer .topPlayers .players img{
        width: 56px;
        height: 56px;
        margin-right: 0px;
        margin-bottom: 15px; 
    }

    .topSections .top-blog .top-blogs{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .topSections .top-blog{
        padding: 0px 15px; 
    }
    .topSections .top-blog h2{
        text-align: center;
    }
}